
#title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20%;
}

#color-palette {

  }

  .color {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: solid 1px black;
    margin-inline: 20px;
    margin-left: 80px;
  }
  
  #color-black {
      background-color: black;
  }
  
  #color-red {
      background-color: red;
  }

  #color-blue {
    background-color: blue;
  }

  #color-green {
      background-color:green;
  }

  .pixel {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: solid black;
    font-size: 0;
    margin: -1.5px;
  }

  #pixel-board {

    margin-block-end:5%;
    display: flex;
    font-size: 0;
  }