
#title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15%;
}

#color-palette {
  margin-left: 250px;
  }

  .color {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    margin-left: 10px;
  }
  
  .selected {

  }

  #color-black {
      background-color: black;
  }
  
  #color-red {
      background-color: red;
  }

  #color-blue {
    background-color: blue;
  }

  #color-green {
      background-color:green;
  }

  .pixel {
    display: table-cell;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    background-color: white;
  }

  #pixel-board {

    display:inline-block;
    border: solid 1px;
    margin-top: 80px;
    margin-left: 250px;
  }