
#title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15%;
}

#color-palette {
  margin-left: 250px;
  }

  .color {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    margin-inline: 1px;
    margin-left: 10px;
  }
  
  #color-black {
      background-color: black;
  }
  
  #color-red {
      background-color: red;
  }

  #color-blue {
    background-color: blue;
  }

  #color-green {
      background-color:green;
  }

  .pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    font-size: 0;
    margin: -1.5px;
  }

  #pixel-board {

    display:flex;
    font-size: 0;
    border: solid 1px black;
    height: 40px;
    width: 40px;
    margin-left: 250px;
    margin-top: 80px;
  }